---
import ProductLayout from '../../layouts/ProductLayout.astro';
import { fetchProductById } from '../../utils/api.js';
import ProductDetails from '../../components/base/Products.jsx';
import AddToCartButton from '../../components/base/Cart.jsx';

const { id } = Astro.params;
const productData = await fetchProductById(id);
---

<ProductLayout>
  {productData ? (
    <>
      <ProductDetails
        name={productData.data.attributes.name}
        description={productData.data.attributes.description}
        price={productData.data.attributes.price}
      />
      <AddToCartButton />
    </>
  ) : (
    <p>Product not found.</p>
  )}
</ProductLayout>
