---
// Import the Layout component
import Layout from '../../layouts/Layout.astro';
// Import the API function to fetch the contact page data
import { fetchContactPage } from '../../utils/api.js';

// Fetch contact page data
const contactData = await fetchContactPage();
---

<Layout>
  <section class="mx-auto p-6 container">
    <h1 class="font-bold text-3xl">{contactData.data.attributes.title}</h1>
    <p class="mt-4">{contactData.data.attributes.description}</p>
  </section>
</Layout>
